/* 초기화 */
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Times New Roman', serif;
	background-color: #E7E7E8;
	background-image: url('../images/BackgroundFront.png'), url('../images/BackgroundBack.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: bottom;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	border: 0;
}


/* 콘텐츠 */
#content {
	/* 중앙 정렬 */
	width: 960px;
	margin: 0 auto;
	/* 수평 레이아웃 구성 */
	overflow: hidden;
}

#content>#main_section {
	width: 750px;
	float: left;
}

#content>#main_aside {
	width: 200px;
	float: right;
}

/* 푸터 */
#main_footer {
	/* 중앙 정렬 */
	width: 960px;
	margin: 0 auto;
	margin-bottom: 10px;
}